*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root
{
    --BackgroundColor: blue;
}

body
{
    height: 100vh;
    background-image: radial-gradient(rgb(37, 37, 179), rgb(23, 23, 121), rgb(1, 1, 78));
}

header h1
{
    text-align: center;
    padding: 2rem 2rem;
    color: #fbfcf6;
}

header .score
{
    width: 50%;
    margin: auto;

    border: 1px solid #fbfcf6;
    color: #fbfcf6;

    padding: 1rem;
    text-align: center;
}

main .choices-container
{
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

main .choice
{
    background-color: #fbfcf6;
    padding: 0.5rem;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;


    display: flex;
    justify-content: center;
    align-items: center;
}

main .choice:first-child
{
    border: .8rem solid green;
}

main .choice:nth-child(2)
{
    border: .8rem solid yellow;
}

main .choice:last-child
{
    border: .8rem solid red;
}

main .choice i
{
    font-size: 4rem;
}