*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    min-height: 100vh;
}

header h1
{
    background-color: blue;
    text-align: center;
    padding: 1rem;
}

header .score
{
    background-color: rebeccapurple;
    padding: 1rem;
    text-align: center;
}

main .choices-container
{
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: darkblue;
}

main .choice
{
    background-color: white;
    padding: 0.5rem;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;


    display: flex;
    justify-content: center;
    align-items: center;
}

main .choice:first-child
{
    border: 5px solid green;
}

main .choice:nth-child(2)
{
    border: 5px solid yellow;
}

main .choice:last-child
{
    border: 5px solid red;
}

main .choice i
{
    font-size: 4rem;
}